@charset "utf-8";



.resume-header {
    background-color: #EADAF4;
}


.resume-aside {
    background-color: #CAF3FC;
}


.resume-main {
    background-color: #FAF8EB;
}
	


.kalijn_font {
    color: #622887;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: normal;
}

.kalijn_font_italic {
    color: #622887;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    font-style: italic;
}

.kalijn_font_basic {
    font-style: normal;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}










	
	


